<style>
    .help-heading {
        margin: 0 -10px 10px -10px;
        padding: 0 10px 10px 10px;
        border-bottom: 1px solid #dddddd;
        font-size: 15px;
        line-height: 18px;
    }
    .help-text {
        margin: 0 0 10px 0;
    }
</style>

<h3 class="help-heading">{{this.helpHeader}}</h3>
<p class="help-text">{{this.helpText}}</p>