#calendar {
    margin: 10px;
}

.full_day_list .fc-content-skeleton {
    height: 100%;
    table {
        height: 100%;
        td a {
            height: 100%;
        }
    }
}

.calendar_list {
    div.fc-event-container {
        a.fc-time-grid-event {
            width: 100% !important;
            position: relative;
            left: 0 !important;
            div.fc-time {
                display: none !important;
            }
        }
    }
}